MAX_TOKEN= # Токен к API мессенджера Max; ОБЯЗАТЕЛЬНОЕ

# Необходимо представить одну из следующих переменных:
MAX_USER_ID= # ID пользователя Max
MAX_CHAT_ID= # ID чата Max

GMAIL_CREDENTIALS_USER= # Адрес эл. почты Gmail; ОБЯЗАТЕЛЬНОЕ
GMAIL_CREDENTIALS_PASS= # Пароль приложения Google; ОБЯЗАТЕЛЬНОЕ

FILTER_DB_PATH= # Путь к локальной БД фильтра; необязательное.
#                 По умолчанию: `data/filter.db` в корневной папки приложения

LOG_LEVEL= # Уровень логирования; необязательное, по умолчанию: INFO.
#            Доступные уровни: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_FILE_PATH= # Путь к файлу с логами; необязательное.
#                По умолчанию: `logs/program.log` в корневной папки приложения

