# токен бота в Max
MAX_TOKEN= # требует

# идентификатор пользователя/чата, требуется что-то одно
MAX_USER_ID= # либо это
MAX_CHAT_ID= # либо это

# учетные данные к аккаунту Gmail
GMAIL_CREDENTIALS_USER= # требует
GMAIL_CREDENTIALS_PASS= # требует; нужен именно пароль приложения
